*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Exo 2', sans-serif;
}

.header{
    width: 100%;
    height: 90vh;
    border: 1px solid rgb(110, 16, 186) ;
}

.shape{
    width: 400px;
    height: 90vh;
    background-color: rgb(125, 9, 118);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: absolute;
    right: 10%;
}

.circle{
    width: 400px;
    height: 400px;
    background-color: aqua;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    right: 10%;
    top: 20%;
    background-image: url(pic/header5.jpg) ;
    background-size: cover;
    background-position: center;
}

.texts{
    
    position: absolute;
    width: 30%;
    left: 10%;
    top: 20%;
}

.header-title{
    font-size: 44px;
}

.cr{
    font-size: 48px;
    color: rgb(125, 9, 118);
}

.text{
    margin-top: 10px;
    font-size: 18px;
    color: rgb(108, 108, 108);

}

.media{
    margin-top: 10px;
    font-size: 24px;

}
.fa{
    margin-right: 15px;
    cursor: pointer;
    color: rgb(125, 9, 118);
}